@import "base.css";

@import "module.css";

@import "syntaxhighlighter.css";

@import "helper.css";

body {
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, "MS PGothic", Osaka, Sans-Serif;
  font-size: 1em;
  line-height: 1.625em;
}

/* iframe classes */
.paletton, .leaflet, .d3, .openlayers {
  width: 100%;
  height: 400px;
  display: block;
}


/* background images */
/* !important allow you to keep a standard color background for .unit-article header when the page(class) does not have a background image */
.qgis {
  background: url(/bootcamp/assets/images/bg-1.png) !important;
  background-size: 100% !important;
  background-repeat: no-repeat !important;
}

/* navbar-nav */
.navbar-nav {
  background-color: rgba(0,0,0,0.6);
}
.navbar-nav > li > a {
  color: white;
}
.nav > li > a:focus, .nav > li > a:hover {
  background-color: inherit !important;
}
/* sticky nav -- jquery -- */
#sticky.stick {
  /* uncomment/comment-out this line to make the left nav column stick/not-stick when scrolling. and see notes below */
  position: fixed;

  top: 0;
  z-index: 10;
  border-radius: 0 0 0.5em 0.5em;
  background-color: white;
}
/* sticky.nav -- jquery -- also, uncomment/comment-out this to give the body a min-height so the footer doesn't cover the left nav */
.unit-article .entry-content {
 min-height: 555px;
}
.sticky-left-nav { 
  margin-left: 12%;
}
.sticky-left-nav {
  height: 100%;
 // width: 12.5%;
  float: left;
}
.sticky-left-nav-inner {
  padding: 0px 20px 20px 20px;
}
.sticky-left-nav h4 {
  margin: 0px !important;
}
.sticky-left-nav ul {
  margin: 0px !important;
}
.sticky-left-nav li {
  list-style-type: none;
}
.sticky-left-nav a:hover {
  text-decoration: underline !important;
  color: #bada55 !important;
}

/* dropdown nav */
/* most of these are overwriting default bootstrap styles */
.dropdown-nav {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.navbar-right {
  margin-right: 40px !important;
  width: 230px;
}
.dropdown-toggle {
  width: 230px;
  text-align: center;
}
.unit-article .entry-content {
  width: 55%;
  min-height: 535px;
}
.dropdown-nav li {
  list-style-type: none;
}
.dropdown-menu {
  min-width: 230px !important;
  margin-left: auto;
  margin-right: auto;
}
.dropdown-menu {
  padding-left: 25px !important;
  padding-right: 25px !important;
}
.dropdown-menu ul {
  border-bottom: 1px solid green;
  margin-bottom: 3px;
  padding-bottom: 15px;
}
/* header */
.the-header .logo {
  float: left;
}
.the-header .nav-global {
  float: right;
}
.the-header .nav-global .home:after {
  margin-left: 16px;
  content: "/";
}
.the-header .nav-global li {
  display: inline-block;
  display: inline;
  zoom: 1;
  line-height: normal;
  letter-spacing: normal;
  margin-right: 16px;
  word-spacing: normal;
  vertical-align: middle;
}
.the-header .nav-global li:last-child {
  margin-right: 0;
}

.nav-global li {
  display: inline;
}

/* entry content */

blockquote a {
  word-wrap: break-word;
}
.entry-content img {
  max-width: 100%;
}
.unit-article .entry-content {
  margin-left: 32%;
}
.unit-inner .entry-title {
  width: 55%;
  margin-left: auto;
  margin-right: auto;
}
.the-footer .unit-foot-inner,
.entry-content .unit-foot-inner {
  width: 55%;
  margin-left: 32%;
}
.misc-content {
  min-height: 40px;
  margin-right: 5%;
}
.misc-content .social {
  float: right;
}
.unit-foot {
  //z-index: 10;
}
.unit-foot-inner .gotop {
  float: right;
}

/* footer */
.gotop {
  float: left;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
.licence {
  float: right;
  margin: -45px;
}


/* the-minimum template styling */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: junctionregularRegular, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, "MS PGothic", Osaka, Sans-Serif;
  font-weight: bold;
}
h1, .h1 {
  font-size: 42px;
  line-height: 52px;
  margin-top: 52px;
  margin-bottom: 26px;
  letter-spacing: -1px;
}
h2, .h2 {
  font-size: 42px;
  line-height: 52px;
  margin-top: 52px;
  margin-bottom: 26px;
  letter-spacing: -1px;
}
h3, .h3 {
  font-size: 26px;
  line-height: 26px;
  margin-top: 26px;
  margin-bottom: 26px;
}
h4, .h4 {
  font-size: 20px;
  line-height: 26px;
  margin-top: 26px;
  margin-bottom: 26px;
}
p,
ul,
ol,
dl,
img {
  margin-top: 0;
  margin-bottom: 1.625em;
}
small, .small, aside {
  font-size: 0.75em;
}
.font-size-default {
  font-size: 1em;
}
blockquote {
  font-weight: bold;
}
blockquote cite {
  font-weight: normal;
}
strong {
  font-weight: bold;
}
em {
  font-weight: bold;
}
/*
Color schemes

No styleguide reference.
*/
/* solarized - http://j.mp/s9Xuw9

@base03:    #002b36;
@base02:    #073642;
@base01:    #586e75;
@base00:    #657b83;
@base0:     #839496;
@base1:     #93a1a1;
@base2:     #eee8d5;
@base3:     #fdf6e3;
@yellow:    #b58900;
@orange:    #cb4b16;
@red:       #dc322f;
// @magenta:   #d33682;
@violet:    #6c71c4;
@blue:      #268bd2;
@cyan:      #2aa198;
@green:     #859900;

*/
@font-face {
  font-family: 'junctionregularRegular';
  src: url('/assets/themes/the-minimum/font/Junction-webfont.eot');
  src: url('/assets/themes/the-minimum/font/Junction-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/themes/the-minimum/font/Junction-webfont.woff') format('woff'), url('/assets/themes/the-minimum/font/Junction-webfont.ttf') format('truetype'), url('/assets/themes/the-minimum/font/Junction-webfont.svg#junctionregularRegular') format('svg');
  font-weight: normal !important;
  font-style: normal;
}
/*
LESS helper
*/
/*
List modules
.list-linear  - list line up horizontally

No styleguide reference.
*/
.list-linear {
  letter-spacing: -0.31em;
  *letter-spacing: normal;
  word-spacing: -0.43em;
  list-style: none;
  padding-left: 0;
}
.list-linear li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  line-height: normal;
  letter-spacing: normal;
  margin-right: 16px;
  word-spacing: normal;
  vertical-align: middle;
}
.list-linear li:last-child {
  margin-right: 0;
}
/* LESS VARIABLES
--------------------------------------------------------------------------------- */
/* GLOBAL
--------------------------------------------------------------------------------- */
html {
  background-color: #ffffff;
  color: #2d2d2d;
}
/* LINK */
a:link {
  color: #2d2d2d;
  text-decoration: none;
}
a:visited {
  color: #141414;
  text-decoration: none;
}
a:hover {
  color: #474747;
  text-decoration: none;
}
/* HIGHLIGHTER */
pre {
  margin-bottom: 1.625em;
}
pre {
  color: #f2f2f2;
  background-color: #393939;
  border: 1px solid #393939;
  font-family: "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  margin-left: 0;
  margin-right: 0;
  padding: 1.625em;
  overflow: auto;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.6);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.6);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.6);
}
/* meta */
/* HEADER
--------------------------------------------------------------------------------- */
.the-header .logo {
  font-family: junctionregularRegular, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, "MS PGothic", Osaka, Sans-Serif;
  margin: 0;
}
.the-header .logo a:visited {
  color: #2d2d2d;
}
.the-header .nav-global {
  text-transform: uppercase;
}
.the-header .nav-global .forkme {
  position: relative;
  top: 2px;
}
/* MAIN
--------------------------------------------------------------------------------- */
.unit-article header {
  background: url('/assets/themes/the-minimum/skin/100-90-5-monochrome.png');
  background-repeat: repeat;
  background-position: 0 0;
  background-color: #BADA55;
  margin-bottom: 1.625em;
  padding-top: 5em;
  padding-bottom: 5em;
}
.unit-article header h1 {
  color: #2d2d2d;
  margin-top: 0;
  margin-bottom: 0;
}
.unit-article .entry-content h2,
.unit-article .entry-content h3,
.unit-article .entry-content h4,
.unit-article .entry-content h5,
.unit-article .entry-content h6 {
  color: #2d2d2d;
}
.unit-article .entry-content h2 a:link,
.unit-article .entry-content h3 a:link,
.unit-article .entry-content h4 a:link,
.unit-article .entry-content h5 a:link,
.unit-article .entry-content h6 a:link {
  color: #2d2d2d;
  border: 0;
}
.unit-article .entry-content h2 a:visited,
.unit-article .entry-content h3 a:visited,
.unit-article .entry-content h4 a:visited,
.unit-article .entry-content h5 a:visited,
.unit-article .entry-content h6 a:visited {
  color: #141414;
  border: 0;
}
.unit-article .entry-content h2 a:hover,
.unit-article .entry-content h3 a:hover,
.unit-article .entry-content h4 a:hover,
.unit-article .entry-content h5 a:hover,
.unit-article .entry-content h6 a:hover {
  color: #474747;
  border: 0;
}
.unit-article .entry-content:first-child h2,
.unit-article .entry-content:first-child h3,
.unit-article .entry-content:first-child h4,
.unit-article .entry-content:first-child h5,
.unit-article .entry-content:first-child h6 {
  margin-top: 0;
}
.unit-article a:link {
  border-bottom: 1px dotted #99cc99;
}
.unit-article a:visited {
  border-bottom: 1px dotted #77bb77;
}
.unit-article a:hover {
  border-bottom: 1px dotted #bbddbb;
}
.unit-article blockquote {
  border-left: 1em solid rgba(21, 25, 25, 0.8);
  padding-left: 1em;
}
.unit-article blockquote p {
  margin-left: 0;
  margin-right: 0;
}
.unit-article ul, .unit-article ol, .unit-article dl {
  //padding-left: 0;
}
.unit-article ul {
  list-style: square;
}
.unit-article ol {
  list-style: decimal;
}
.unit-article li h1,
.unit-article dt h1,
.unit-article dd h1,
.unit-article li h2,
.unit-article dt h2,
.unit-article dd h2,
.unit-article li h3,
.unit-article dt h3,
.unit-article dd h3,
.unit-article li h4,
.unit-article dt h4,
.unit-article dd h4,
.unit-article li h5,
.unit-article dt h5,
.unit-article dd h5,
.unit-article li p,
.unit-article dt p,
.unit-article dd p,
.unit-article li ul,
.unit-article dt ul,
.unit-article dd ul,
.unit-article li ol,
.unit-article dt ol,
.unit-article dd ol,
.unit-article li dl,
.unit-article dt dl,
.unit-article dd dl,
.unit-article li blockquote,
.unit-article dt blockquote,
.unit-article dd blockquote,
.unit-article li .hasGrid,
.unit-article dt .hasGrid,
.unit-article dd .hasGrid {
  margin-left: 0;
  margin-right: 0;
}
.highlight pre {
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  margin: 20px 2px;
}
.unit-article p code, .unit-article li code {
  margin: 20px 2px;
  padding: 4px 5px;
  white-space: nowrap;
  border: 1px solid #CCC;
  background-color: #F8F8F8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  overflow-y: scroll;
  display: block;
  background-color: rgba(0,0,0,0.1);
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}
.unit-article img.left {
  margin-right: 16px;
}
.unit-article img.right {
  margin-left: 16px;
}
.unit-article .date-publish {
  margin-bottom: 0;
}
.unit-article .list-linear .list-head {
  margin-right: 4px;
}
.unit-article .list-category a, .unit-article .list-tag a {
  border: 0 none;
}
.unit-article .list-category a:hover span, .unit-article .list-tag a:hover span {
  background-color: #f99157;
}
.unit-article .list-category span, .unit-article .list-tag span {
  background-color: #e25608;
  padding: 1px 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: white;
  text-transform: uppercase;
  margin: 0 6px 0 0;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  top: -2px;
  font-weight: bold;
  font-size: 10px;
}
.unit-article .list-category {
  margin-bottom: 0;
  text-transform: capitalize;
}
.unit-article .list-tag {
  text-transform: capitalize;
}
.unit-article .unit-foot {
  background: url('/assets/themes/the-minimum/skin/100-90-5-monochrome.png') repeat 0 0 #4d4d4d;
  color: #fafafa;
  padding-top: 1em;
  padding-bottom: 1em;
//  position: relative;
}
.unit-article .unit-foot a:link {
  color: #fafafa;
}
.unit-article .unit-foot a:visited {
  color: #fafafa;
}
.unit-article .unit-foot a:hover {
  color: #ffffff;
}
.unit-article .unit-foot nav ul {
  list-style: none;
}
.unit-article .unit-foot nav ul li {
  display: inline;
}
.unit-article .unit-foot .gotop {
//  margin-bottom: 0;
}
/* post & page */
.layout-page .tag_box {
  background: url('/assets/themes/the-minimum/skin/100-90-5-monochrome.png') repeat 0 0 #999999;
  padding: 0.8125em;
  list-style: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.4);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.4);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.4), 0 1px 0 rgba(255, 255, 255, 0.4);
}
.layout-page .tag_box li {
  display: inline;
  line-height: normal;
  vertical-align: middle;
}
.layout-page .tag_box a {
  background-color: #99cc99;
  float: left;
  border: 1px solid #448844;
  padding: 3px 6px 3px 6px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.layout-page .tag_box a:active {
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  background: #336633;
  border: solid #336633;
}
.layout-page .tag_box a:hover {
  background-color: #77bb77;
  border: 1px solid #336633;
}
.layout-page .tag_box a:hover span {
  background-color: #e1e1e1;
  border: 1px solid #77bb77;
}
.layout-page .tag_box span {
  background-color: #fafafa;
  border: 1px solid #99cc99;
  padding: 1px 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #1a1a1a;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  top: -2px;
  font-weight: bold;
  font-size: 10px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}
/* FOOTER
----------------------------------------------- */
.the-footer {
  background-color: #1a1a1a;
  background-color: rgba(21, 25, 25, 1);
  color: #fafafa;
  color: rgba(250, 250, 250, 0.8);
  padding-bottom: 1.625em;
}
.the-footer a:link {
  color: #99cc99;
  border: 0;
}
.the-footer a:visited {
  color: #77bb77;
  border: 0;
}
.the-footer a:hover {
  color: #bbddbb;
  border: 0;
}
.the-footer ul {
  list-style: square;
  padding-left: 1em;
}
.the-footer address {
  font-style: normal;
}
.the-footer .license {
  clear: both;
}
.the-footer .license p {
  margin-bottom: 0;
}
.the-header .unit-inner {
  width: 75%;
  margin-top: 1.625em;
  margin-bottom: 1.625em;
  margin-left: auto;
  margin-right: auto;
}
.the-header .logo a {
  font-size: 32px;
  line-height: 42px;
}
.unit-article .unit-head-inner,
//.unit-article .misc-content,
.unit-article .unit-foot-inner,
.unit-article .unit-head-inner {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  //z-index: 10;
}

/* responsive styling */

/*
	Smartphone
*/
@media only screen and (min-width: 100px) and (max-width: 767px) {
}

/*
	Wide Smartphone
*/
@media only screen and (max-width: 630px) {
  .sticky-left-nav {
    display: none;
  }  
  .unit-article .entry-content,
  .unit-inner .entry-title,
  .the-footer .unit-foot-inner,
  .entry-content .unit-foot-inner {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  .the-header .unit-inner {
  }
  .the-header .nav-global li {
    display: inherit;
  }
  .the-header .nav-global {
    float: left;
  }
  .the-header .nav-global .home:after {
   content: none;
  }
  .licence {
    margin: 0px !important;
    float: left;
  }
}

/*
	Tablet
*/
@media only screen and (max-width: 965px) {
.sticky-left-nav {
    display: none;
  }  
  .unit-article .entry-content,
  .unit-inner .entry-title,
  .the-footer .unit-foot-inner,
  .entry-content .unit-foot-inner {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  .licence {
    margin: -45px 0px 0px 0px;
  }
  .dropdown-nav {
    width: 100%;
  }
  .navbar-right {
    width: 100%;
    margin: 0px !important;
  }
  .dropdown-toggle {
    width: 100%;
  }
  .dropdown {
    width: 100%;
  }
}

/*
	Not that old computer layout 
*/
@media only screen and (min-width: 1280px) {
}

/*
	Huge-screen layout 
*/
@media and (min-width: 1647px) {
}
@media only screen and (max-height: 520px) {
  #sticky.stick {
    position: absolute;
  }
}
